.wrapper {
  @apply bg-grey-transparent-15;
  @apply rounded-r;
  @apply w-full;

  box-shadow: inset 0px 2px 4px hsl(0, 0%, 50%, 0.35);
}

.wrapperBar {
  @apply rounded-r;
  overflow: hidden;
}

.bar {
  background-color: hsl(240deg 80% 60%);
  height: 12px;
  width: var(--width);
}
